<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Frontend#3</title>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
  <div id="app">
    <!------------------------------------------ 
      header
    ------------------------------------------->
    <header class="navbar navbar-dark bg-dark flex-column flex-md-row shadow mb-5">
      <a href="" class="navbar-brand">{{ projectName }}<span></span></a>
      <ul class="nav justify-content-end">
        <li class="nav-item global" 
          :class="{ active: activePageName === icon.text}"
          v-for="icon in icons"
          v-bind:key="icon.className + icon.text"
          v-bind:data-icon-text ="icon.text"
          v-on:click.stop="navClick($event)"
        >
          <a class="nav-link" href="#">
            <i class="fas" v-bind:class="icon.className"></i>
            <span>{{ icon.text }}</span></a>
        </li>
      </ul>
    </header>
    <!-------------------------
      vote 
    -------------------------->
    <div class="container">
      <div class="row">
        <div v-for="member in members" v-bind:key="member.name + member.id" class="text-dark rounded mb-4 modal-in-box product-info-box col-lg-3">
          <div class="info-detail u-box-shadow-sm bg-white text-center rounded p-4 product-card">
            <figure class="mb-2"><img v-bind:src="'./assets/img/img'+ member.id + '.jpg'" alt="" class="img-fluid  rounded-circle mt-1">
            </figure>
            <div class="text-area">
              <p>{{ member.name }}</p>
              <p class="portfolio-url"></p>
            </div>
            <button v-on:click="preVote($event)" :data-member-id="member.id" type="button" class="btn btn-sm btn-outline-success">投票する</button>
          </div>
        </div>
      </div>
    </div>
<!------------------------------------------ 
  modal
 ------------------------------------------>
  <div id="js-modal" class="v-modal"　v-if="isModal">
    <div class="text-dark shadow rounded mb-7 modal-in-box">
        <div class="info-area d-flex">
          <figure class="mb-2"><img src="./assets/img/img0.jpg" alt="" class=" img-fluid  rounded-circle mt-1"></figure>
          <div class="controller-area">
            <h3>Daisky</h3>
            <div class="form-check form-check-inline"><span class="title">技術点</span>
            <span>
              <input type="radio" name="tecPoint"  value="1" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">S</label>
            </span>
            <span>
              <input type="radio" name="tecPoint"  value="2" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">A</label>
            </span>
            <span>
              <input type="radio" name="tecPoint"  value="3" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">B</label>
            </span>
            <span>
              <input type="radio" name="tecPoint"  value="4" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">C</label>
            </span>
            <span>
              <input type="radio" name="tecPoint"  value="5" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">D</label>
            </span>
          </div>
          <div class="form-check form-check-inline mt-1">
            <span class="title">サービス点</span>
            <span>
              <input type="radio" name="servicePoint"  value="1" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">S</label>
            </span>
            <span>
              <input type="radio" name="servicePoint"  value="2" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">A</label>
            </span>
            <span>
              <input type="radio" name="servicePoint"  value="3" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">B</label>
            </span>
            <span>
              <input type="radio" name="servicePoint"  value="4" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">C</label>
            </span>
            <span>
              <input type="radio" name="servicePoint"  value="5" class="form-check-input">
              <label for="inlineRadio1" class="form-check-label">D</label>
            </span>
          </div>
        </div>
      </div>
      <span class="btn-wrapper">
        <button id="js-modalCloseBtn" type="button" class="btn btn-sm btn-outline-danger">戻る</button>
        <button type="button" class="btn btn-sm btn-outline-success">投票する</button>
      </span>
    </div>     
  </div>
</div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./assets/js/data.js"></script>
<script src="./assets/js/index.js"></script>
</body>
</html>